.text-caption {
  font-size: 0.8571em;
}

.page-header-image {
  object-fit: cover;
}

.page-header {
  margin-top: -40px;
}

.page-header .content-bottom {
  position: absolute;
  top: 100%;
  z-index: 2;
  -ms-transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  color: #FFFFFF;
  padding: 0 15px;
  width: 100%;
}

.page-header .container {
  text-align: unset;
}

.page-header::before {
  background: rgba(0, 0, 0, 0.1);
}

.section {
  padding: 40px 0;
}

.modal-content .modal-footer {
  justify-content: flex-end;
}

.bg-primary-darker {
  background-color: #092747;
}

.navbar {
  transition: all 300ms ease 0s, padding 0s;
  margin-bottom: 0;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 0.8571em;
}

.navbar .navbar-brand {
  font-size: 1.25em;
  text-transform: none;
}

.navbar .navbar-toggler {
  border-radius: 50%;
  padding: 0;
  height: unset;
  width: unset;
}

.navbar-toggler:hover,
.navbar-toggler[aria-expanded="true"]:focus {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.navbar-toggler-icon {
  background-image: url('/assets/ic_more_vert.svg');
  fill: white;
}

.dropdown-menu::before {
  display: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #09274717 !important;
}

#navigation {
  min-height: 32px;
}

#navigation .dropdown-menu,
#navigation .dropdown-item {
  transition: all 150ms linear, visibility 0ms;
}

@media screen and (min-width: 768px) {
  #navigation .dropdown-menu {
    transition: none;
    -webkit-transform: none !important;
    transform: none !important;
    position: relative;
    visibility: visible;
    padding: 0;
    background-color: unset;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: none;
  }

  #navigation .nav-link {
    color: #FFF;
    margin-top: 0;
  }

  #navigation .nav-link:hover,
  #navigation .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}