/*
  General
*/

.flex-01 {
	-webkit-flex-grow: 0 !important;
	-ms-flex: 0 !important;
	flex-grow: 0 !important;
}


/*
  Navbar
*/

.fade-and-shrink {
	color: transparent !important;
	width: 0 !important;
	min-width: 0 !important;
	margin: 0 !important;
}

.transition---all {
	transition: all .3s cubic-bezier(.4,0,.2,1), min-width 1ms;
	text-overflow: clip !important;
}

.navbar-dropdown {
	display: -ms-flexbox;
	display: flex;
	ms-flex-direction: column;
	flex-direction: column;
	background-color: white;
	padding: .5rem 0 .5rem 0;
	text-align: right;
	min-width: 150px;
}

.navbar-dropdown .nav-link {
	font-size: 1rem;
	color: #333;
	text-decoration: none !important;
}

.navbar-dropdown li:focus,
.navbar-dropdown li:hover {
	background-color: #ECEFF1;
}


/*
  Content
*/

@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

.theme--light.application {
	background-color: #eff2f5;
}

.anchor {
  float: left;
  transform: translateY(-80px);
}
