<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <link rel="shortcut icon" href="./assets/albumart48.png">
  <link rel="apple-touch-icon" href="./assets/albumart48.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="./css/printable.css" rel="stylesheet">
  <title id="page-title">Dylan Burati</title>
</head>
<body>
  <div id="app">
    <v-app>
      <nav v-bind:style="toolbarStyleObj">
        <div class="container px-3 py-2 mt-2">
          <div class="title mb-2">
            Dylan Burati
          </div>
          <div class="match-parent-width border-bottom"></div>
        </div>
      </nav>
      <v-content>
        <div class="container px-3 py-0">
            <div class="title mt-3 mb-2">About</div>
            <div>
              <div d-flex align-center class="my-0">
                <div>
                  <p>
                    I am a freshman at Northeastern University majoring in Electrical and Computer Engineering.
                    My background knowledge comes from developing applications in Java (Android and standalone),
                    but my goal is to gain expertise in both software and hardware.
                  </p>
                  <p>
                    You can contact me at <span class="font-weight-medium">burati.d@husky.neu.edu</span>.
                  </p>
                </div>
              </div>
            </div>

            <div class="title mt-3">Projects</div>
            <div class="d-flex column">
              <div d-flex column v-for="(project, i) in projects" v-bind:key="i"
                      class="printable-card d-flex column" ref="projectCell">
                <div class="mb-2 flex-01">
                  <div class="d-flex align-center">
                    <div class="subheading font-weight-medium" v-text="project.name"></div>
                    <div class="spacer"></div>
                    <a class="text-xs-right" v-text="project.href" v-bind:href="project.href"></a>
                  </div>
                </div>

                <p v-text="project.description" class="flex-01 py-0 mb-2">
                </p>

                <div class="d-flex column">
                  <p class="flex-01 mb-2" v-if="!empty(project.technologies, 'string')">
                    <span class="font-weight-bold mr-1">Technologies used:</span>
                    {{ project.technologies }}
                  </p>

                  <p class="flex-01" v-if="!empty(project.concepts, 'string')">
                    <span class="font-weight-bold mr-1">Concepts learned:</span>
                    {{ project.concepts }}
                  </p>
                </div>
              </div>
            </div>

          <div class="mt-5">
            <div class="mb-1">
              <a href="/">Web version</a>
            </div>
            <p class="mb-0">&copy; 2019 Dylan Burati</p>
          </div>
        </div>
      </v-content>
    </v-app>
  </div>

  <script src="./js/util.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.3/dist/vue.min.js"></script>
  <script src="./js/vue-util.js"></script>
  <script type="text/javascript">
    /* global window document Vue axios MaterialColors */
    var vm = new Vue({
      el: '#app',
      data: {
        toolbarStyleObj: {
          'z-index': 130
        },
        navLinks: {
          navbar: [
            { href: 'https://github.com/dylanburati', text: 'Github', action: '' },
            { href: 'https://www.linkedin.com/in/dylanburati/', text: 'LinkedIn', action: '' },
            { href: 'https://dylanburati.bandcamp.com', text: 'Bandcamp', action: '' }
          ]
        },
        // ----- //
        projects: [
          {
            name: 'CNChat',
            description: 'A simple end-to-end encrypted chat application. The server runs on Java ' +
              'and can accept any number of clients. The client is written in JavaScript, and is ' +
              'intended to run in the browser.',
            href: 'https://github.com/dylanburati/CNChat',
            technologies: 'Java, JavaScript, MySQL (application); Cypress, CircleCI (testing)',
            concepts: 'Multithreading, data schemas, encryption (Diffie-Hellman key exchange, HMAC-SHA256, AES-CBC)'
          },
          {
            name: 'Relisten',
            description: 'A website for keeping track of music you like, and sharing it with friends.',
            href: 'https://relisten.xyz',
            technologies: 'HTML, CSS, JavaScript, Vue.js (frontend); PHP, MySQL, Nginx, Apache SOLR (backend)',
            concepts: 'User interfaces, social networks, system administration'
          }
        ]
      },
      methods: {
        empty: empty,
      }
    });
  </script>
</body>
</html>
